.tooltip__close {
    cursor: pointer;
    position: absolute;
    top: -40px;
    right: -40px;
    width: 32px;
    height: 32px;
    border: none;
    background-image: url(../../../images/Close-icon.png);
    background-size: cover;
    background-color: rgba(0,0,0,0);
  }
  
  .tooltip__close:hover {
    opacity: 0.6;
  }
  
  @media screen and (max-width: 900px) {
    .tooltip__close {
      width: 20px;
      height: 20px;
      right: 0;
      top: -37px;
    }
  } 