.auth_form {
    display: flex;
    flex-direction: column;
    width: 358px;
    margin-top: 60px;
  }
  
  @media screen and (max-width: 357px) {
    .auth_form {
      width: 260px;
      margin-top: 40px;
    }
  } 