.profile__button-avatar{
    position: absolute;
    width: 122px;
    height: 122px;
    border-radius: 50%;
    transition: 0.3s linear;
}

.profile__button-avatar:hover{
    transition: 0.2s linear;
    background:  rgba(0, 0, 0, 0.8) no-repeat center url(../../../images/edit-avatar.svg);
}
